.padded-card{
    margin-top: 20px;
    padding:10px;
    text-align: center;
}

.createImage img{
    height: 40vh;
    object-fit: cover;
}

ion-grid img{
    height: 15vh;
}

svg{
    height:15vh;
}