img{
    height:20vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: fill;
}
.padded-card{
    margin-top: 20px;
    padding:10px;
    
}
.descricao-tab{
    text-align: center;
}

ion-title{
    text-align: center;
}
.title{
    font-family: 'Italianno';font-size: 40px;
}